# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Artifacts (Large Files)
artifacts/
data/*.csv
!data/catalog.csv
!data/sales.csv
